body{
    padding: 0%;
    margin: 0%;
}
  
  
  /*
    |||                          |||
    ||| Everything in INDEX:HTML |||
    vvv                          vvv
    
    */


  
#container1{
display: grid;
grid-template-columns: 10% 90%;
height: 100%;
}

#sidecontainer{
    background-color: #6387FF;
    border-right: 1px solid #556677;
    height: 100%;
}
#sidecontainer2{
    background-color: #252837;
    height: 70vw;
}

#buttons{
    display: flex;
    height: 50vw;
    justify-content: space-evenly;
    flex-direction: column;
    width: 6vw;
     margin-left: 2.5vw;
}

  /*
    ||| Everything in sidecontainer2 |||
    */


    #profiles{
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vw;
    }
    #profile{
        width: 80vw;
        height: 8vw;
        background-color: #313347;
        display: flex;
        border-radius:20px;
        margin-left: 3vw;
    }

    #bilde{
        margin-left: 2vw;
        margin-top: 1.7vw;
    }
    #tekst{
        margin-left: 2vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7vw;
        margin-top: 1.2vw;
    }
    #Stortekst{
        color: #ffff   ;
    }
    #litentekst{
        color: #968D8D;
    }


      /*
    |||                             |||
    ||| Everything in SETTINGS:HTML |||
    vvv                             vvv
    
    */
    #settings_folder{
        margin-left: 15vw;
        margin-top: 6vw;
    }
    #Account{
        font-family: 'Courier New', Courier, monospace;
    }   

    #position_username_password{
        margin-left: 5vw;
    }
    #settings_change{
        width: 60vw;
        height: 30vw;
        background-color: #313347;
        border-radius: 10px;
    }
    #username_name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10vw;
        width: 50vw;
    }
    #password_newpassword{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vw;
        width: 50vw;
    }
    .password{
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7vw;
        color: #ffff;
    }

    .text_input{
        width: 20vw;
        height: 2.3vw;
        background-color:  #1D1F2B;
        border-radius: 10px;
        border: 0;
    }




    #deletecontainer{
        width: 60vw;
        height: 10vw;
        background-color: #313347;
        margin-left: 15vw;
    }

    #folderaround_delete_con{
        margin-left: 5vw;
        color: #ffff;
    }
    #logout_delete{
        width: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #button_logout{
        font-family: 'Courier New', Courier, monospace;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: 50px;
        background-color: #1D1F2B;
        color: #ffff;
    }
    #button_Delete{
        font-family: 'Courier New', Courier, monospace;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: 50px;
        background-color: #FF0000;
        color: #ffff;
    }


    #Save_button{
        width: 7vw;
        height: 3vw;
        margin-left: 68vw;
        background-color: #1D1F2B;
        border: 0px;
        border-radius: 30px;
        color: #ffff;
        margin-top: 1.5vw;
    }


    #picture{
        margin-top: 20vw;
    }