* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #36393f;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.faq-container {
    width: 90%; /* Updated width to be more scalable */
    max-width: 600px; /* Maximum width */
    padding: 20px;
    background-color: #2f3136;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.faq-title {
    text-align: center;
    margin-bottom: 20px;
    color: #7289da;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-checkbox {
    display: none;
}

.faq-question {
    width: 100%;
    padding: 10px;
    background-color: #4f545c;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    display: block;
    border-radius: 5px;
}

.faq-answer {
    padding: 10px;
    background-color: #40444b;
    display: none;
    border-radius: 5px;
}

.faq-checkbox:checked + .faq-question + .faq-answer {
    display: block;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.home-button:hover {
    background-color: #677bc4;
}

.home-button:active {
    background-color: #5b6eae;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .faq-container {
        width: 90%; /* Adjusted width for smaller screens */
    }
}
